<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--cron表达式 详细配置：https://www.cnblogs.com/javahr/p/8318728.html-->
    <add key="crons" value=""/>
    <!--单位为毫秒不间断重复执行  5分钟-->
    <add key="seconds" value="300000"/>
    <!--指令状态  RECORD_STATUS-->
    <add key="Available" value="等待CBS系统读取数据"/>
    <add key="Delegated" value="CBS系统已读取数据"/>
    <add key="Accepted" value="CBS系统已经受理"/>
    <add key="Success" value="付款成功"/>
    <add key="Failed" value="所有非成功的终态"/>
    <add key="Returnticket" value="银行退票"/>
    <add key="Partial Success" value="部分成功"/>
    <add key="Expired" value="过期状态"/>

    <add key="ConnStr" value="server=localhost;uid=sa;pwd=133;database=Thinkape_Test;Max Pool Size=512;pooling=true;Connect Timeout=120;" />
    
    
  </appSettings>
</configuration>
